@import 'styles/configs/variables.scss';

.interactive-card {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 480px auto;

	&__preview, .preview {
		background-color: $deep-violet;
		position: relative;
		
		&__shadows, .shadows {
			opacity: 0.2 !important;

			&__item {
				width: 400px;
				height: 120px;
			}

		}

		&__card-container {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -120px;
			z-index: 10;
		}

		&__card, .card {
			width: 448px;
			height: 248px;
			z-index: 50;
			position: relative;				
			border-radius: 8px;
			overflow: hidden;

			&__front, .front {
				background: linear-gradient(-210deg, #6348FE, #610595);
				position: relative;

				&__shadows, .shadows {
					opacity: 1 !important;

					&__item, .item {
						width: 120px ;
						height: 40px;
						margin-top: 120px;
						margin-left: 120px;
					}

				}

				&__cardholder-name {
					position: absolute;
					left: 32px;
					bottom: 24px;
					color: $white;
				}

				&__card-number {
					position: absolute;
					left: 32px;
					bottom: 80px;
					color: $white;
				}

				&__dot, .dot {
					position: absolute;
					border-radius: 50%;

					&--big {
						top: 32px;
						left: 32px;
						width: 48px;
						height: 48px;
						background-color: $white;
					}

					&--small {
						top: 44px;
						left: 96px;
						width: 24px;
						height: 24px;
						border: 1px solid $white;
					}

				}

				&__exp-date, .exp-date {
					position: absolute;
					right: 32px;
					bottom: 24px;
					color: $white;
					display: flex;
					
					&__month {

					}

					&__separator {
						margin: 0 4px;
					}

					&__year {

					}
					
				}

			}

			&__back, .back {
				background: linear-gradient(180deg, #FFFFFF 5%, #D2D3D9 91.69%);
				position: relative;

				&__magnetic-stripe {
					background-color: $dark-grey;
					position: absolute;
					top: 24px;
					right: 0;
					left: 0;
					height: 56px;
				}
				
				&__cvc, .cvc {
					background-color: $medium-grey;
					position: absolute;
					top: 120px;
					right: 40px;
					left: 40px;
					height: 40px;
					border-radius: 4px;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;;
					align-items: center;
					padding: 4px 16px;

					&__value {
						color: $white;
						letter-spacing: 2px;
					}
				}

			}

			&:first-of-type {
				margin-bottom: 32px;
			}
			
			&:last-of-type {
				margin-left: 64px;
			}

		}


	}

	&__controller, .controller  {
		width: 100%;
		height: 100%;
		max-width: 1200px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;;
		
		&__form, .form {
			width: 100%;
			max-width: 400px;
			margin-left: 60px;
			display: grid;
			grid-template-areas: 
				"cardholder-name cardholder-name"
				"card-number card-number"
				"exp-date cvc"
				"button button";

			grid-gap: 16px;

				&__wrapper {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-gap: 16px;
				}

				&__item, .item {

					&__cardholder-name {
						grid-area: cardholder-name;
					}

					&__card-number {
						grid-area: card-number
					}

					&__exp-date {
						grid-area: exp-date;
					}

					&__cvc {
						grid-area: cvc;
					}

				}

				&__button {
					grid-area: button;
					width: 100%;
				}

		}

	}

}