* {
	font-family: 'Space-Grotesk', sans-serif;
	font-weight: 400;
}

.label {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.button {
	font-size: 18px;
}

.input {

	&::placeholder {
		font-size: 18px;
	}

}
.interactive-card {
	
	.front__cardholder-name {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.front__card-number {
		font-size: 28px;
		letter-spacing: 3px;
	}

}