* {
	font-family: 'Space-Grotesk', sans-serif;
	font-weight: 400;
}

.label {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.button {
	font-size: 18px;
}

.input {

	&::placeholder {
		font-size: 18px;
	}


}